<div (click)="click()">
  <img
  class="w-8"
  src="assets/icons/heart.svg"
  loading="lazy"
  alt="Icono con forma de corazón que indica que ha sido presionado"
/>


<div class="relative">
    <div 
    class="
        absolute 
        z-10
        top-0
        right-0 
        left-auto 
        translate-x-1 
        -translate-y-9
        rotate-0 
        skew-x-0 
        skew-y-0 
        scale-x-100 
        scale-y-100 
        p-1.5
        text-xs 
        rounded-full  
        bg-pink-700 
        text-white 
        before:content-[''] before:text-white
        "
    >
    {{notifications}}
    </div>

</div>
</div>